<div class="gate_container" [ngStyle]="{ 'background-image': 'url(' + setting.backgroundImage + ')' }">
  <div class="translate_tool">
    <button (click)="changeLang('ar')">Ar</button>
    <button (click)="changeLang('en')">En</button>
  </div>
  <div class="logo_container">
    <img [src]="setting.logo" class="logo">
  </div>
  <span id="description">{{setting.settingTranslation![layoutService.config.lang]?.subtitle}}</span>
  <div class="options_wrapper">
    <div class="options_container" *ngFor="let row of data">
      <button (click)="Redirect(row)">
        <img [src]="row.icon" class="icon">
        <span>{{ row.applictionTranslations![layoutService.config.lang]?.name }}</span>
      </button>
    </div>
  </div>
</div>