<div class="detailsContainer row" *ngIf="!loading; else spinner">
  <div class="col-lg-4 col-md-12">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 side-icon">
          <span class="material-symbols-outlined">info</span>
          <span>{{ 'companyService_viewDetails' | translate }}</span>
        </div>
        <div class="col-12 row m-0 p-0">
          <div class="card-section__items">
            <div class="card__contents__item mt-2">
              <div class="card-label">{{ 'companyName_viewDetails' | translate }}:</div>
              <div class="card-info">{{ data.company.companyTranslation?.[layoutService.config.lang]?.name|| '-' }}
              </div>
            </div>
            <div class="card__contents__item mt-2">
              <div class="card-label">{{ 'service_viewDetails' | translate }}:</div>
              <div class="card-info">{{ data.service.serviceTranslation?.[layoutService.config.lang]?.name || '-' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 side-icon">
          <span class="material-symbols-outlined">info</span>
          <span>{{ 'subscription_viewDetails' | translate }}</span>
        </div>
        <div class="col-12 row m-0 p-0">
          <div class="card__contents">
            <div class="card-section__items">
              <div class="card__contents__item mt-2">
                <div class="card-label">{{ 'startDate_viewDetails' | translate }}:</div>
                <div class="card-info">{{ data.subscription.startDate }}</div>
              </div>
              <div class="card__contents__item mt-2">
                <div class="card-label">{{ 'endDate_viewDetails' | translate }}:</div>
                <div class="card-info">{{ data.subscription.endDate|| '-' }}</div>
              </div>
              <div class="card__contents__item mt-2">
                <div class="card-label">{{ 'status_viewDetails' | translate }}:</div>
                <div class="card-info">{{ data.subscription.statusValue|| '-' }}</div>
              </div>
              <div class="card__contents__item mt-2">
                <div class="card-label">{{ 'price_viewDetails' | translate }}:</div>
                <div class="card-info">{{ data.subscription.price|| '-' }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-8 col-md-12">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 header-container">
          <div class="col-lg-6 col-md-9 col-sm-3 side-icon">
            <span class="material-symbols-outlined">list</span>
            <span>{{ 'Environments_List' | translate }}</span>
          </div>
          <form action="" [formGroup]="searchFrom">
            <p-accordion class="mt-5 p-0">
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <div class="flex align-items-center">
                    <span class="material-symbols-outlined">tune</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="content">
                  <div class="m-0 box2 d-flex">
                    <div class="filter-title">
                      <span class="material-symbols-outlined">filter_alt</span>
                      <span>{{'Filter_By' | translate}}</span>
                    </div>
                    <div class="container">

                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-3">
                        <div class="flex flex-wrap justify-content-center">
                          <span class="p-0">

                            <input class="search-field" type="text" (input)="OnChange()"
                              placeholder="{{ 'NameEnvironment_definitions' | translate }}" formControlName="EnvName"
                              pInputText />
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-3">
                        <div class="flex flex-wrap justify-content-center">
                          <span class="p-0">

                            <input class="search-field" type="text" (input)="OnChange()"
                              placeholder="{{ 'ServerName_definitions' | translate }}" formControlName="server"
                              pInputText />
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-3">
                        <div class="flex flex-wrap justify-content-center">
                          <span class="p-0">

                            <input class="search-field" type="text" (input)="OnChange()"
                              placeholder="{{ 'databaseName_definitions' | translate }}" formControlName="dbName"
                              pInputText />
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="col result">
                      <div class="ms-2 mt-3">
                        <p-button class="reset-btn" (onClick)="resetSearchForm()">
                          <span class="material-symbols-outlined">restart_alt</span>
                        </p-button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-accordionTab>
            </p-accordion>
          </form>
        </div>

        <!-- *ngIf="envDatabase.length > 0" -->
        <div class="col-12">
          <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let env of envDatabase; let i = index">
              <div class="card environment-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <span class="badge me-2">{{ i+1 }}</span>
                  <!-- <button pButton type="button" icon="pi pi-lock-open" class="p-button-text p-0 ms-2"
                    (click)="unlock(i, env)">
                  </button> -->
                   <button *ngIf="!showDecrypted" id="lock" pButton type="button" icon="pi pi-lock-open" (click)="unlock(i, env)"><span>{{'UnLock_card' | translate}}</span></button>
                   <button *ngIf="showDecrypted" id="lock" pButton type="button" icon="pi pi-lock" (click)="lock()"><span>{{'Lock_card' | translate}}</span></button>
                </div>
                <div class="card-body">
                  <div class="environment-details">
                    <div class="detail-item">
                      <label>{{ 'NameEnvironmentEn_definitions' | translate }}:</label>
                      {{ env.environment.environmentTranslation?.en?.name || 'N/A' }}
                      <span></span>
                    </div>
                    <div class="detail-item">
                      <label>{{ 'NameEnvironmentAr_definitions' | translate }}:</label>
                      {{ env.environment.environmentTranslation?.ar?.name || 'N/A' }}
                      <span></span>

                    </div>
                    <div class="detail-item">
                      <label>{{ 'UrlEnvironment_definitions' | translate }}:</label>
                      {{ env.environment.url || 'N/A' }}
                      <span></span>
                    </div>
                    <div class="detail-item">
                      <label>{{ 'ServerName_definitions' | translate }}:</label>
                      {{env.environment.server?.hostName}}
                      <span></span>
                    </div>
                    <div class="detail-item">
                      <label>{{ 'databaseName_definitions' | translate }}:</label>
                      {{ env.name|| 'N/A' }}
                      <span></span>
                    </div>
                    <div class="detail-item">
                      <label>{{ 'userName_definitions' | translate }}:</label>
                      {{ unlockedEnvs.has(i) ? env.userName : '••••••••••••' }}
                      <span></span>
                    </div>
                    <div class="detail-item">
                      <label>{{ 'password_definitions' | translate }}:</label>
                      <span>
                        {{ unlockedEnvs.has(i) ? env.password : '••••••••••••' }}

                      </span>
                    </div>
                    <div class="detail-item">
                      <label>Connection String:</label>
                      <span>
                        {{ unlockedEnvs.has(i) ? env.connectionString : '••••••••••••' }}

                      </span>
                      <span class="connection-string"></span>
                    </div>
                  </div>
                  
                  <!-- <button id="lock"><span class="material-symbols-outlined fill">lock</span>{{'Lock_card' | translate}}</button> -->

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-center py-5" *ngIf="envDatabase.length === 0">
          <div class="no-environments">
            <h5 class="mt-3 text-muted">{{ 'No_Environments_Added' | translate }}</h5>

          </div>
        </div>
      </div>
      <p-paginator class="mt-2" [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[4, 12, 20, 30]"
        [first]="first" (onPageChange)="paginate($event)"></p-paginator>
    </div>

  </div>
</div>


<ng-template #spinner>
  <mat-spinner id="spinner"></mat-spinner>
</ng-template>
<p-toast key="toast"></p-toast>


<p-dialog header="Unlock Data" [(visible)]="displayDialog" [modal]="true" [style]="{width: '400px'}">
  <div class="p-fluid">
    <div class="field">
      <label for="privateKey">Enter Private Key</label>
      <input id="privateKey" type="password" pInputText [(ngModel)]="enteredKey" />
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times" (onClick)="displayDialog=false"></p-button>
    <p-button label="Unlock" icon="pi pi-check" (onClick)="validateKey()"></p-button>
  </ng-template>
</p-dialog>
