<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <div class="variants row">
    <div class="col-lg-6 col-md-12" style="margin: auto;">
      <div class="box-shadow mb-3">
        <div class="row">
          <div class="col-12 side-icon">
            <span class="material-symbols-outlined">info</span>
            <span>{{ 'Basic_Info_Form' | translate }}</span>
          </div>
          <div class="col-12 row m-0 p-0">
            
           
            <div class="col-12 mb-3">
            <div class="p-float-label">
              <p-calendar [showIcon]="true" formControlName="startDate"></p-calendar>
              <label>{{ 'startDate_subscription' | translate }}</label>
            </div>
          </div>
           <div class="col-12 mb-3">
            <div class="p-float-label">
              <p-calendar [showIcon]="true" formControlName="endDate"></p-calendar>
              <label>{{ 'endDate_subscription' | translate }}</label>
            </div>
          </div>
        
          <div class="col-12 mb-3">
             <div class="p-float-label">
                <p-dropdown [options]="" optionLabel="value" optionValue="key"
                  formControlName="status"></p-dropdown>
                <label>{{ 'status_subscription' | translate }}</label>
               
              </div>
          </div>
          


          </div>
        </div>
      </div>

    </div>

   



   <div class="col-xs-12 mt-4 text-center" style="display: flex;justify-content: space-between;align-items: center;padding: 3rem 5rem 0;">
      <p-button type="Submit" class="btn-primary" (click)="back()">{{ 'Back_subscription' | translate }}</p-button>

      <p-button type="Submit" class="btn-primary" (click)="nextStep()">{{ 'Next_subscription' | translate }}</p-button>

    </div>
  </div>
</form>

