<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="add-server">
  <div class="add-server">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 side-icon">
          <span class="material-symbols-outlined">info</span>
          <span>{{ 'Basic_Info_Form' | translate }}</span>
        </div>
        <div class="col-12 row m-0 p-0">
          <div class="col-12 mb-3">
            <div class="p-float-label" [ngClass]="{'error_border': submitted && form['hostname'].errors}">
              <input pInputText type="text" formControlName="hostname" />
              <label [ngClass]="{'error': submitted && form['hostname'].errors}">{{ 'hostName_servers' | translate }}</label>
            </div>
              <div *ngIf="submitted && form['hostname'].errors?.['required']" class="text-danger mt-1">
            {{ 'field_required' | translate }}
          </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label" [ngClass]="{'error_border': submitted && form['ipAddress'].errors}">
              <input pInputText type="text" formControlName="ipAddress" />
              <label [ngClass]="{'error': submitted && form['ipAddress'].errors}">{{ 'IpAddress_servers' | translate }}</label>
            </div>
              <div *ngIf="submitted && form['ipAddress'].errors?.['required']" class="text-danger mt-1">
            {{ 'field_required' | translate }}
          </div>
          
         
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 text-end mt-4">
      <p-button type="Submit" class="btn-primary" [loading]="btnLoading">{{'save' | translate}}</p-button>
    </div>
  </div>
</form>

<p-toast key="toast"></p-toast>
