<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="add-customer">
  <div class="add-customer">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 side-icon">
          <span class="material-symbols-outlined">info</span>
          <span>{{ 'Basic_Info_Form' | translate }}</span>
        </div>
        <div class="col-12 row m-0 p-0">
          <div class="col-12 mb-3">
            <div class="p-float-label" [ngClass]="{'error_border': submitted && form['nameEn'].errors}">
              <input pInputText type="text" formControlName="nameEn" />
              <label [ngClass]="{'error': submitted && form['nameEn'].errors}">{{ 'nameEn_customer' | translate }}</label>
 <!-- <span *ngIf="submitted && form['nameEn'].errors" class="error-validation">{{ 'Field_Required' |
                translate }}</span> -->
            </div>
             <div *ngIf="submitted && form['nameEn'].errors?.['required']" class="text-danger mt-1">
              {{ 'field_required' | translate }}
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label" [ngClass]="{'error_border': submitted && form['nameAr'].errors}">
              <input pInputText type="text" formControlName="nameAr" />
              <label [ngClass]="{'error': submitted && form['nameAr'].errors}">{{ 'nameAr_customer' | translate }}</label>
 <!-- <span *ngIf="submitted && form['nameAr'].errors" class="error-validation">{{ 'Field_Required' |
                translate }}</span> -->
            </div>
             <div *ngIf="submitted && form['nameAr'].errors?.['required']" class="text-danger mt-1">
              {{ 'field_required' | translate }}
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label" [ngClass]="{'error_border': submitted && form['primaryContact'].errors}">
              <input pInputText type="text" formControlName="primaryContact" />
              <label [ngClass]="{'error': submitted && form['primaryContact'].errors}">{{ 'primaryContact_customer' | translate }}</label>
 <!-- <span *ngIf="submitted && form['primaryContact'].errors" class="error-validation">{{ 'Field_Required' |
                translate }}</span> -->
            </div>
             <div *ngIf="submitted && form['primaryContact'].errors?.['required']" class="text-danger mt-1">
              {{ 'field_required' | translate }}
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label" [ngClass]="{'error_border': submitted && form['email'].errors}">
              <input pInputText type="text" formControlName="email" />
              <label [ngClass]="{'error': submitted && form['email'].errors}">{{ 'email_customer' | translate }}</label>
 <!-- <span *ngIf="submitted && form['email'].errors" class="error-validation">{{ 'Field_Required' |
                translate }}</span> -->
            </div>
             <div *ngIf="submitted && form['email'].errors?.['required']" class="text-danger mt-1">
              {{ 'field_required' | translate }}
            </div>
          </div>
            <div class="col-12 mb-3">
            <div class="p-float-label" [ngClass]="{'error_border': submitted && form['phone'].errors}">
              <input pInputText type="text" formControlName="phone" />
              <label [ngClass]="{'error': submitted && form['phone'].errors}">{{ 'phone_customer' | translate }}</label>
 <!-- <span *ngIf="submitted && form['phone'].errors" class="error-validation">{{ 'Field_Required' |
                translate }}</span> -->
            </div>
             <div *ngIf="submitted && form['phone'].errors?.['required']" class="text-danger mt-1">
              {{ 'field_required' | translate }}
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="p-float-label" [ngClass]="{'error_border': submitted && form['anyDeskAddress'].errors}">
              <input pInputText type="text" formControlName="anyDeskAddress" />
              <label [ngClass]="{'error': submitted && form['anyDeskAddress'].errors}">{{ 'anyDeskAddress_customer' | translate }}</label>
 <!-- <span *ngIf="submitted && form['anyDeskAddress'].errors" class="error-validation">{{ 'Field_Required' |
                translate }}</span> -->
            </div>
             <div *ngIf="submitted && form['anyDeskAddress'].errors?.['required']" class="text-danger mt-1">
              {{ 'field_required' | translate }}
            </div>
          </div>

        </div>
      </div>
    </div>




   <div class="col-xs-12 text-end mt-4">
      <p-button type="Submit" class="btn-primary"  [loading]="btnLoading">{{'save' | translate}}</p-button>
    </div>
  </div>
</form>

<p-toast key="toast"></p-toast>




