<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="renew">
  <div class="renew">
    <div class="box-shadow mb-3">
      <div class="row">
        <div class="col-12 side-icon">
          <span class="material-symbols-outlined">info</span>
          <span>{{ 'Basic_Info_Form' | translate }}</span>
        </div>
        <div class="col-12 row m-0 p-0">
          <div class="col-12 mb-3" style="display: flex;flex-direction: column;row-gap: 0.5rem;">
            <label style="font-weight: bold;">{{ 'company_name' | translate }}:</label>
            <label> {{companyServiceName}}
            </label>
          </div>
        </div>
        <div class="col-12 mb-3">
          <label style="font-weight: bold;">{{ 'renew_period' | translate }}:</label>

          <div style="display: flex;gap: 0.5rem;margin-top: 0.5rem;">
            <div style="width: 50%;" class="p-float-label"
              [ngClass]="{'error_border': submitted && form['period_number'].errors}">
              <input pInputText type="text" (onChange)="calculateNewEndDate()" formControlName="period_number" />
              <label [ngClass]="{'error': submitted && form['period_number'].errors}">{{ 'number_period' | translate
                }}</label>

            </div>
            <div style="width: 50%;" class="p-float-label"
              [ngClass]="{'error_border': submitted && form['period_type'].errors}">
              <p-dropdown (onChange)="calculateNewEndDate()" [options]="durationTypeList" optionLabel="value"
                optionValue="key" formControlName="period_type" dir="ltr">
              </p-dropdown>


              <label id="label" [ngClass]="{'error': submitted && form['period_type'].errors}">{{ 'type_period' |
                translate }}</label>
            </div>
          </div>
          <div *ngIf="submitted && form['period_type'].errors?.['required']" class="text-danger mt-1">
            {{ 'field_required' | translate }}
          </div>
        </div>
        <div class="col-12 row m-0 p-0">
          <div class="col-12 mb-3" style="display: flex;flex-direction: column;row-gap: 0.5rem;">
            <div class="card-label" style="font-weight: bold;">{{ 'new_endDate' | translate }}</div>
            <div class="card-info">{{ newEndDate | date: 'yyyy-MM-dd' }}</div>
          </div>
        </div>
      </div>
    </div>




    <div class="col-xs-12 text-end mt-4">
      <p-button type="Submit" class="btn-primary" [loading]="btnLoading">{{'save' | translate}}</p-button>
    </div>
  </div>
</form>

<p-toast key="toast"></p-toast>